<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情月步数表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckeditor/ckeditor.js?ts=new Date()"></script>
<script type="text/javascript" src="../ckfinder/ckfinder.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../../common.js"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/step/busimonthstep_detail?ts=new Date()"></script>
</head>
<body>
	<div class="box">
		<ul class="list">
			            <li class="list-li">
                <label class="leftLi">所属用户：</label>
                <div class="rightLi">
                    <label class="bsmspUser"></label>
                </div>
            </li>
			            <li class="list-li">
                <label class="leftLi">创建时间：</label>
                <div class="rightLi">
                    <label class="bsmspCdate"></label>
                </div>
            </li>
			            <li class="list-li">
                <label class="leftLi">所属月：</label>
                <div class="rightLi">
                    <label class="bsmspMonth"></label>
                </div>
            </li>
			            <li class="list-li">
                <label class="leftLi">步数：</label>
                <div class="rightLi">
                    <label class="bsmspStep"></label>
                </div>
            </li>
					</ul>
	</div>
</body>
</html>
