<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>列表支付记录表</title>
    <link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all"/>
    <script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/record/busiorderpay.js?ts=new Date()"></script>
</head>
<body>
<div class="rightTop greyBox">
    <span class="cur_postion"></span>
    <input type="button" class="topBtn addit" value="新增"></input>
    <input type="button" class="topBtn delthese" value="删除"></input>
</div>
<div class="rightContent">
    <div class="manageBox margin-tb">
        <div class="searchBox margin-tb">
            <div style="background:#fff;width:100px;margin-top:-18px;">搜 索 框</div>
            <div class="searchContent margin-tb">
                <!-- js生成查询条件 -->
            </div>
            <div class="margin-tb">
                <input type="button" class="searchBtn" value="查询"></input>
                <input type="button" class="resetBtn" value="重置"></input>
            </div>
        </div>
        <table class="tb">
            <thead class="tb-head">
            <tr>
                <!-- js生成表格头部 -->
            </tr>
            </thead>
            <tbody class="tb-body">
            <!-- js生成表格内容 -->
            </tbody>
            <tfoot class="tb-foot">
            <tr>
                <!-- js生成表格底部 -->
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>
