<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>详情邀请Banner表</title>
    <link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all"/>
    <script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/index/busiinvitedbanner_detail.js?ts=new Date()"></script>
</head>
<body>
<div class="box">
    <ul class="list">
        <li class="list-li">
            <label class="leftLi">链接：</label>
            <div class="rightLi">
                <label class="bsaetLink"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">封面图：</label>
            <div class="rightLi">
                <img class="bsaetPic_preimg" src=""/>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">顺序：</label>
            <div class="rightLi">
                <label class="bsaetOrd"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">描述：</label>
            <div class="rightLi">
                <label class="bsaetDesc"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">创建时间：</label>
            <div class="rightLi">
                <label class="bsaetCdate"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">更新时间：</label>
            <div class="rightLi">
                <label class="bsaetUdate"></label>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
