<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>详情优惠券表</title>
    <link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all"/>
    <script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/oil/corecoupon_detail.js?ts=new Date()"></script>
</head>
<body>
<div class="box">
    <ul class="list">
        <li class="list-li">
            <label class="leftLi">所属用户手机号：</label>
            <div class="rightLi">
                <label class="crcpnUserMobile"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">所属用户姓名：</label>
            <div class="rightLi">
                <label class="crcpnUserName"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">使用状态：</label>
            <div class="rightLi">
                <label class="crcpnUseStatus"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">优惠金额：</label>
            <div class="rightLi">
                <label class="crcpnReduce"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">添加时间：</label>
            <div class="rightLi">
                <label class="crcpnCdate"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">发送状态：</label>
            <div class="rightLi">
                <label class="crcpnSendStatus"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">生效时间：</label>
            <div class="rightLi">
                <label class="crcpnStart"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">截止时间：</label>
            <div class="rightLi">
                <label class="crcpnEnd"></label>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
