<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>数据统计</title>
    <script type="text/javascript" src="../js/jquery/jquery-1.9.1.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <link rel="stylesheet" href="../css/index/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index/ht-index.css">
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <script src="../js/common/ht-index.js"></script>
    <style>
        .row {
            margin: 0px;
        }
    </style>
</head>
<body>
<div class="contain">
    <!--优惠券：-->
    <div class="row">
        <div class="index-item col-lg-3 col-md-6">
            <div class="block">
                <ul class="item">
                    <li class="title">今日总步数</li>
                    <li>
                        <div id="sysYUseCount">10000步</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="index-item col-lg-3 col-md-6">
            <div class="block" style="background-color:#669f00;">
                <ul class="item">
                    <li class="title">本周总步数</li>
                    <li>
                        <div id="dayRecharge">1000000步</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="index-item col-lg-3 col-md-6">
            <div class="block" style="background-color:#1eafe3;">
                <ul class="item">
                    <li class="title">本月总步数</li>
                    <li>
                        <div id="dayCommission">10000000000步</div>
                    </li>
                </ul>
            </div>
        </div>

</div>
</body>
</html>
<script>
</script>

