<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>数据统计</title>
    <script type="text/javascript" src="../js/jquery/jquery-1.9.1.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <link rel="stylesheet" href="../css/index/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index/ht-index.css">
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <style>
        .row{
            margin: 0px;
        }
    </style>
</head>
<body>
<div class="contain">
    <!--优惠券：-->
    <div class="row">
        <div class="index-item col-lg-4 col-md-6">
            <div class="block">
                <ul class="item">
                    <li class="title">系统发送</li>
                    <li><div>数量:100</div><div>金额:1000元</div></li>
                </ul>
            </div>
        </div>
        <div class="index-item col-lg-4 col-md-6">
            <div class="block" style="background:#669f00;">
                <ul class="item">
                    <li class="title">手动发送</li>
                    <li><div>数量:100</div><div>金额:1000元</div></li>
                </ul>
            </div>
        </div>
    </div>
    <!--充值:-->
    <div class="row">
        <div class="index-item col-lg-4 col-md-6">
            <div class="block">
                <ul class="item">
                    <li class="title">充值</li>
                    <li><div>今日充值:10000</div><div>当月充值:10000</div></li>
                </ul>
            </div>
        </div>
        <div class="index-item col-lg-4 col-md-6">
            <div class="block" style="background:#669f00;">
                <ul class="item">
                    <li class="title">佣金</li>
                    <li><div>优惠券数量:100</div><div>金额:1000元</div><div>金额:1000元</div></li>
                </ul>
            </div>
        </div>
    </div>
    <!--充值:-->
<!--    <div class="row">
        <div class="index-item col-lg-4 col-md-6">
            <div class="block">
                <ul class="item">
                    <li class="title">充值</li>
                    <li><div>今日充值:10000</div><div>当月充值:10000</div></li>
                </ul>
            </div>
        </div>
        <div class="index-item col-lg-4 col-md-6">
            <div class="block" style="background:#669f00;">
                <ul class="item">
                    <li class="title">系统发送</li>
                    <li><div>数量:100</div><div>金额:1000元</div></li>
                </ul>
            </div>
        </div>
        <div class="index-item col-lg-4 col-md-6">
            <div class="block" style="background:#669f00;">
                <ul class="item">
                    <li>系统发送</li>
                    <li><div>数量:100</div><div>金额:1000元</div></li>
                </ul>
            </div>
        </div>
    </div>-->
</div>
</body>
</html>
<script>
</script>

