<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>psd_modify</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../../common.js"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/common/psd_modify.js?ts=new Date()"></script> 
</head>

<body>
	<div class="rightTop greyBox">
		<span class="cur_postion">当前位置： [ 修改密码 ]</span>
	</div>
	<div class="rightContent">
		<div class="box">
		    <ul class="list">
		        <li class="list-li">
		            <label class="leftLi">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label>			
		            <div class="rightLi"><label class="accountName"></label></div>
		        </li>
		        <li class="list-li">
		            <label class="leftLi">旧&nbsp;&nbsp;密&nbsp;&nbsp;码：</label>		
		            <div class="rightLi">
		            	<input type="password" class="inputStyle oldPsd" onpaste="return false" ondragenter="return false"  style="ime-mode:disabled"/>
		            	<span class="p-red"> *</span>
		            </div>
		        </li>
		        <li class="list-li">
		            <label class="leftLi">新&nbsp;&nbsp;密&nbsp;&nbsp;码：</label>			
		            <div class="rightLi">
		            	<input type="password" class="inputStyle newPsd" onpaste="return false" ondragenter="return false"  style="ime-mode:disabled"/>
		            	<span class="p-red"> *</span>
		            </div>
		        </li>
		        <li class="list-li">
		            <label class="leftLi">确认密码：</label>			
		            <div class="rightLi">
			            <input type="password" class="inputStyle surePsd" onpaste="return false" ondragenter="return false"  style="ime-mode:disabled"/>
			            <span class="p-red"> *</span>
		            </div>
		        </li>
		        <li class="list-li">
		            <input type="button" class="buttonStyle submit" value="修改"/>
		        </li>
		    </ul>
		</div>
	</div>
</body>
</html>
