<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>详情积分明细表</title>
    <link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all"/>
    <script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/busi/busiintegraldetail_detail.js?ts=new Date()"></script>
</head>
<body>
<div class="box">
    <ul class="list">
        <li class="list-li">
            <label class="leftLi">增减方向(1增2减)：</label>
            <div class="rightLi">
                <label class="bsidlDire"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">数值：</label>
            <div class="rightLi">
                <label class="bsidlNum"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">备注：</label>
            <div class="rightLi">
                <label class="bsidlRemark"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">被修改人：</label>
            <div class="rightLi">
                <label class="bsidlUser"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">创建时间：</label>
            <div class="rightLi">
                <label class="bsidlCdate"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">操作人：</label>
            <div class="rightLi">
                <label class="bsidlOper"></label>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
