<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>详情邀请关系表</title>
    <link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all"/>
    <script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/busi/busiinvitedrelation_detail.js?ts=new Date()"></script>
</head>
<body>
<div class="box">
    <ul class="list">
        <li class="list-li">
            <label class="leftLi">邀请人姓名：</label>
            <div class="rightLi">
                <label class="bsirnInvitedName"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">邀请人手机号：</label>
            <div class="rightLi">
                <label class="bsirnInvitedMobile"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">被邀请人姓名：</label>
            <div class="rightLi">
                <label class="bsirnBeInvitedName"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">被邀请人手机号：</label>
            <div class="rightLi">
                <label class="bsirnBeInvitedMobile"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">所用邀请码：</label>
            <div class="rightLi">
                <label class="bsirnCode"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">邀请时间：</label>
            <div class="rightLi">
                <label class="bsirnIdate"></label>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
