<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情账户表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../../common.js"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/busi/coreaccount_detail.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">帐户名称：</label>
				<div class="rightLi">
					<label class="cractName"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">状态：</label>
				<div class="rightLi">
					<label class="cractStatus"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">角色集合：</label>
				<div class="rightLi">
					<label class="cractRolesName"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">创建日期：</label>
				<div class="rightLi">
					<label class="cractCdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">修改日期：</label>
				<div class="rightLi">
					<label class="cractUdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">联系方式：</label>
				<div class="rightLi">
					<label class="cractTel"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">邮箱：</label>
				<div class="rightLi">
					<label class="cractEmail"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">备注：</label>
				<div class="rightLi">
					<label class="cractRemarks"></label>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
