<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>列表小程序</title>
    <link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all"/>
    <script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/busi/corewechat.js?ts=new Date()"></script>
</head>
<body>
<div class="rightTop greyBox">
    <span class="cur_postion">当前位置： [小程序编辑 ]</span>
</div>

<div class="rightContent">
    <div class="box">
        <ul class="list">
            <li class="list-li">
                <label class="leftLi">小程序名称：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crwctName"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">appid：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crwctAppid"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">appsecret：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crwctAppsecret"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">商户号partner/mch_id：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crwctPartner"/>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">商户密钥partnerkey：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crwctPartnerkey"/>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">回调URLnotifyurl：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crwctNotifyurl"/>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">备注：</label>
                <div class="rightLi">
                    <textarea class="textAreaStyle crwctRemarks"></textarea>
                </div>
            </li>
            <li class="list-li">
                <input type="button" class="buttonStyle submit" value="修改"/>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
