<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情功能项表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../../common.js"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/busi/corefunction_detail.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">功能项名称：</label>
				<div class="rightLi">
					<label class="crfntFunName"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">资源请求地址：</label>
				<div class="rightLi">
					<label class="crfntResource"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">状态：</label>
				<div class="rightLi">
					<label class="crfntStatus"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">创建日期：</label>
				<div class="rightLi">
					<label class="crfntCdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">修改日期：</label>
				<div class="rightLi">
					<label class="crfntUdate"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">排序号：</label>
				<div class="rightLi">
					<label class="crfntOrd"></label>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">上级菜单：</label>
				<div class="rightLi">
					<label class="crfntFatherName"></label>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
