<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>详情用户表</title>
    <link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all"/>
    <script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/busi/coreuser_detail.js?ts=new Date()"></script>
</head>
<body>
<div class="box">
    <ul class="list">
        <li class="list-li">
            <label class="leftLi">姓名：</label>
            <div class="rightLi">
                <label class="crusrName"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">用户头像：</label>
            <div class="rightLi">
                <img class="crusrWxHeadimgurl"/>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">手机号码：</label>
            <div class="rightLi">
                <label class="crusrMobile"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">创建日期：</label>
            <div class="rightLi">
                <label class="crusrCdate"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">修改日期：</label>
            <div class="rightLi">
                <label class="crusrUdate"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">性别：</label>
            <div class="rightLi">
                <label class="crusrGender"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">备注：</label>
            <div class="rightLi">
                <label class="crusrRemarks"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">授权OPENID：</label>
            <div class="rightLi">
                <label class="crusrOpenid"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">用户UnionID：</label>
            <div class="rightLi">
                <label class="crusrUnionid"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">最后登录时间：</label>
            <div class="rightLi">
                <label class="crusrLastTime"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">所属部门：</label>
            <div class="rightLi">
                <label class="crusrDeptName"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">积分：</label>
            <div class="rightLi">
                <label class="crusrIntegral"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">个人称号：</label>
            <div class="rightLi">
                <label class="crusrTitle"></label>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
