<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加角色表</title>
<link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all" />
<link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all" />
<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
<script type="text/javascript" src="../../common.js"></script>
<script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/ztree/jquery.ztree.core-3.5.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/ztree/jquery.ztree.excheck-3.5.js?ts=new Date()"></script>
<script type="text/javascript" src="../js/busi/corerole_add.js?ts=new Date()"></script>
</head>

<body>
	<div class="box">
		<ul class="list">
			<li class="list-li">
				<label class="leftLi">角色名称：</label>
				<div class="rightLi">
					<input type="text" class="inputStyle crrolName"/>
					<span class="p-red"> *</span>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">功能菜单集合：</label>
				<div class="rightLi">
					<div class="select-box crrolFuns">
	                    <input class="select-item" data-ids="" data-values="" type="text" value="" readonly="readonly"/>
	                    <ul id="selectTree" class="selectTree"></ul>
	                </div>
					<span class="p-red"> *</span>
				</div>
			</li>
			<li class="list-li">
				<label class="leftLi">角色描述：</label>
				<div class="rightLi">
					<textarea class="textAreaStyle crrolDesc"></textarea>
				</div>
			</li>
			<li class="list-li">
				<input type="button" class="buttonStyle submit" value="添加"/>
			</li>
		</ul>
	</div>
</body>
</html>
