<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>系统设置表</title>
    <link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all"/>
    <script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/system/coresystemset.js?ts=new Date()"></script>
</head>
<body>
<div class="rightTop greyBox">
    <span class="cur_postion">当前位置： [系统设置编辑 ]</span>
</div>
<div class="rightContent">
    <div class="box">
        <ul class="list">
            <li class="list-li">
                <label class="leftLi">邀请链接前缀：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crsstInviteLink"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">一级佣金比：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crsstFirstIncome"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">二级佣金比：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crsstSecondIncome"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">返还优惠券比例：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crsstCoupon"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">短信接口路径：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crsstMessagePath"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">短信账户名：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crsstMessageLoginname"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">短信密码：</label>
                <div class="rightLi">
                    <input type="password" class="inputStyle crsstMessagePwd"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">短信Key：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crsstMessageKey"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">项目域名：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crsstMessageDomain"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <label class="leftLi">附件存放目录：</label>
                <div class="rightLi">
                    <input type="text" class="inputStyle crsstAttachmentDir"/>
                    <span class="p-red"> *</span>
                </div>
            </li>
            <li class="list-li">
                <input type="button" class="buttonStyle submit" value="修改"/>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
