<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>详情短信日志记录表</title>
    <link type="text/css" rel="stylesheet" href="../css/common/base-min.css" media="all"/>
    <link type="text/css" rel="stylesheet" href="../css/common/index.css" media="all"/>
    <script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/jquery/jquery-form.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/layer/layer.js?ts=new Date()"></script>
    <script type="text/javascript" src="../../common.js"></script>
    <script type="text/javascript" src="../js/common/common.js?ts=new Date()"></script>
    <script type="text/javascript" src="../js/system/coreshortmessage_detail.js?ts=new Date()"></script>
</head>
<body>
<div class="box">
    <ul class="list">
        <li class="list-li">
            <label class="leftLi">发送手机号：</label>
            <div class="rightLi">
                <label class="crmceMobile"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">短信内容：</label>
            <div class="rightLi">
                <label class="crmceContent"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">发送时间：</label>
            <div class="rightLi">
                <label class="crmceTime"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">过期时间：</label>
            <div class="rightLi">
                <label class="crmceTimeout"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">发送状态：</label>
            <div class="rightLi">
                <label class="crmceStatus"></label>
            </div>
        </li>
        <li class="list-li">
            <label class="leftLi">短信类型：</label>
            <div class="rightLi">
                <label class="crmceType"></label>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
